DATABASE_URL="postgresql://neondb_owner:npg_ITkhBO1vHP7i@ep-muddy-wind-adta25kc-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode
JWT_SECRET="change-me"
NOWPAYMENTS_API_KEY=1P47FY6-A92MWVA-GNRNPFC-GW6YT8Q
NOWPAYMENTS_IPN_SECRET=yzj5QAPXKjgc8kx/YYTByrMCivZ1PYLH
NOWPAYMENTS_BASE_URL="https://api.nowpayments.io/v1"
APP_BASE_URL="https://pasus.xyz"
API_BASE_URL="https://pasusgambling.onrender.com"
VITE_API_BASE_URL=""
DISCORD_CLIENT_ID=1482547335878676601
DISCORD_REDIRECT_URI=https://pasus.xyz/api/discord/connect/callback
DISCORD_CLIENT_SECRET=G8xYGCFmNvIXxDVOjXOL
DISCORD_GUILD_ID=1482545353243754609
DISCORD_BOT_TOKEN=MTQ4MjU0NzMzNTg3ODY3NjYwMQ
VITE_API_BASE_URL=https://api.pasus.xyz
